Q.1.Explain with an example each when to use a For loop and While loop.

Ans.For loop is used for iterating over a sequence of elements ,while While loop is used for repeatedly executing a block of code as long as certain condition is true .And while loop always checks the condition but 
For loop dosen't check the condition .eg:-

In [2]:
l=[1,2,3,4,5,]

In [3]:
for i in l:
    print (i)

1
2
3
4
5

In [4]:
for i in l:
    print(i+1)

2
3
4
5
6

In [ ]:
# whlie loop

In [2]:
n=10
counter=2
starting_point=1
while counter <=n:
    starting_point =starting_point+counter
    counter =counter+2
starting_point

31

Q.2.Write a python program to print the sum and product of the first 10 natural numbers using for and while loop

In [1]:
l=[1,2,3,4,5,6,7,8,9,10]

In [4]:
n=int (input("enter natgural number"))
n <=10
result=0
for i in l:
    result=result+i
result

enter natgural number 10

55

In [ ]:
# for while

In [20]:
n=int (input("enter natural number"))
starting_point=1
counter=1
while counter <=n:
    starting_point=starting_point*counter
    counter =counter+1
starting_point

enter natural number 10

3628800

 Q.3.Create a python program to compute the electricity bill for a household.he per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per 
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.You are required to take the units of electricity consumed in a month from the user as input.your program must pass this test case .when the unit of electricity consumed by the user in month is 310 unit the total electricity bill should be 2250.

In [7]:
unit=int(input("enter thr unit of electricty"))
if units <=100:
    print("you will be charged Rs.4.5 per unit")
elif units <=200:
    print("you will be charged Rs.6 per  unit")
elif units <=300:
    print("you will be charged Rs.10 per unit")
elif units >300:
    print("you will be chrged Rs.20 per unit")

enter thr unit of electricty 200

NameError: name 'units' is not defined

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each 
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list

In [10]:
# forloop

In [ ]:
l=[]

In [2]:
l= list(range(1,101))
l1_num=[]
l2_num=[]
for i in l :
    i=i**3
if i % 4 ==0:
    l1_num.append(i)
if i % 5 ==0:
    l2_num.append(i)

print(l1_num)
print(l2_num)

[1000000]
[1000000]

In [4]:
# while loop

In [9]:
num_list=[]
i=1
while i <=100:
    num=i**3
    if num %4==0 or num %5==0:
        num_list.append(i)
    i+=1

num_list

[2,
 4,
 5,
 6,
 8,
 10,
 12,
 14,
 15,
 16,
 18,
 20,
 22,
 24,
 25,
 26,
 28,
 30,
 32,
 34,
 35,
 36,
 38,
 40,
 42,
 44,
 45,
 46,
 48,
 50,
 52,
 54,
 55,
 56,
 58,
 60,
 62,
 64,
 65,
 66,
 68,
 70,
 72,
 74,
 75,
 76,
 78,
 80,
 82,
 84,
 85,
 86,
 88,
 90,
 92,
 94,
 95,
 96,
 98,
 100]

Q.5.Â Write a program to filter count vowels in the below-given string.

string = "I want to become a data scientist"

In [17]:
str="I want to become a data scientist"
vowels="a,e,i,o,u"
count=0
for i in str:
    if i in vowels:
        print(i)

a
o
e
o
e
a
a
a
i
e
i

In [19]:
str="I want to become a data scientist"
vowels="a,e,i,o,u"
count=0
for i in str:
    if i in vowels:
        count+=1
print("The number of vowels in the str is:",count)

The number of vowels in the str is: 11